.nav-bar {
    display: flex;
    align-items: center;
    position: fixed;
    margin-top: 50px;
    height: 40px;
    padding: 0px 5px;
    left: 0;
    right: 0;
    list-style: none;
    background-color: #f6f6f6;
    border-bottom: solid 1px #dbe6e9;
    z-index: 900;
  }
  
  .nav-bar .nav-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    color: #3b3f3f;
    text-decoration: none;
    margin: 0 4px;
    padding: 2px 6px;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid rgb(188, 188, 188);
    border-radius: 8px;
    box-shadow: 0 1px 3px 0 rgba(81, 78, 85, 0.2);
    transition: all 0.3s;
  }
  
  .nav-bar .icon {
    width: 15px;
    height: 15px;
  }
  
  .nav-bar .nav-item.collapsed {
    background-color: #f6f6f6;
    color: #5d6466;
    font-weight: 400;
    border: unset;
    border-radius: 0px;
    box-shadow: unset;
  }
  
  .nav-bar .nav-item:hover {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 1px 3px 0 rgba(76, 75, 77, 0.2);
  }