.nav-bar-employee {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 25px;
  right: 0;
  left: 260px;
  padding: 0px 5px;
  background-color: #f4f4f4;
  border-bottom: solid 1px #dbe6e9;
  z-index: 901;
  box-shadow: 2px 2px 5px #d9e0e4;
  transition: all 0.3s;
}

.nav-bar-employee .nav-list {
  position: fixed;
  display: flex;
  flex-direction: row;
}

.nav-bar-employee .nav-item {
  text-decoration: none;
  margin: 0px 2px;
}

.nav-bar-employee .nav-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 13px;
  padding: 1px 10px;
  font-weight: 600;
  color: #0e60a8;
  transition: all 0.1s;
}

.nav-bar-employee .nav-link.collapsed {
  color: #5d6a70;
  font-weight: 400;
}

.nav-bar-employee .nav-link:hover {
  color: #0070e7;
  margin-right: 0px;
}

/* MEDIAQUERIES */
@media (max-width: 1199px) {
  .nav-bar-employee {
    left: 60px;
  }
}

@media (max-width: 1199px) {
  .toggle-sidebar .nav-bar-employee {
    left: 260px;
  }
}

@media (min-width: 1200px) {
  .toggle-sidebar .nav-bar-employee {
    left: 60px;
  }
}